@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #013444;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 600;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  /* display: block; */
  margin-bottom: 25px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 30px;
}


.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 60px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}


.answers {
  margin-bottom: 20px;
  color: #fff;
}
/* .answers label{
  display: block;
} */
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 11px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}
#previous{
    font-family: sans-serif;
    font-size: 13px;
    background-color: #2992d0;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 11px;
    cursor: pointer;
    margin-bottom: 20px;
}
#previous:hover{
    font-family: sans-serif;
    color: #2992d0;
    background-color : #fff;
    border: 0px;
    border-radius: 3px;
    padding:11px;
    cursor: pointer;
    margin-bottom: 20px;
}

#next, #submit{
    font-family: sans-serif;
    font-size: 13px;
    background-color: #51b64b;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 11px;
    cursor: pointer;
    margin-bottom: 20px;
}
#next:hover{
    font-family: sans-serif;
    color: #51b64b;
    background-color : #fff;
    border: 0px;
    border-radius: 3px;
    padding: 11px;
    cursor: pointer;
    margin-bottom: 20px;
}

#submit:hover{
    font-family: sans-serif;
    color: #51b64b;
    background-color : #fff;
    border: 0px;
    border-radius: 3px;
    padding: 11px;
    cursor: pointer;
    margin-bottom: 20px;
}

input[type="radio" i]{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hud-main-text{
    background-color: #013444;
    font-size: 30px;
    /* font-weight: 600; */
}

#hud-item{
    margin: auto;
    margin-top: 4px;
}






.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size:  1.8rem;
    background-color: #fff;
}

.choice-container:hover{
    
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #51b64b;
    color: #fff;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

#hud{
    display: flex;
    justify-content: space-between;

}

.hud-prefix{
    text-align: ;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;

} 

#progressBar{
    width: 20rem;
    height: 1.5rem;
    border: 0.3rem solid #51b451;
    margin-bottom: 3rem;

}

#progressBarFull{
    height: 1.5rem;
    background-color: #51b64b;
    width: 0%;
}

#loader{
    border: 1rem solid #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border-top: 1rem solid #2992d0;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#results{
    color: #fff;
    margin-top: -110px;
}

#goHomeDiv{
    color: #fff;
    background-color: #2292d0;
    padding: 15px;
    font-size: 17px;
    border: 0;
    border-radius: 4px;
    width: 5rem;
    text-align: center;
    margin: auto;
    margin-top: 2rem;

}

/* #goHomeDiv:hover{
    color: #2292d0;
    background-color: #fff;
    padding: 15px;
    font-size: 17px;
    border: 0;
    border-radius: 4px;
    width: 5rem;
    text-align: center;
    margin: auto;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);

} */


#goHome{
    text-decoration: none;
    color: #fff;
}

/* #goHome:hover{
    text-decoration: none;
    color: #2292d0;
} */


.btnHome{
    margin-top: 10px;
    /* width: 5rem; */
}

/* .btnHome:hover{
    color: #2992d0;
} */

.fa-thumbs-up{
    font-size: 80px;
    color: #fff;
    margin-bottom: 1rem;
}

#game{
    position: relative;
}

#ex{
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(128, 118, 118);
    cursor: pointer;
}

.fa-window-close{
    font-size: 25px;
}

#countDown{
    color: #fff;
    font-size: 30px;
    background-color: #51b451;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 55px;
    right: 15px;
}

.time{
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    display: none;
}

#countDown2{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 55px;
    right: 125px;
}




